:root {
  --typ-font-family-brand: 'Quicksand Light', 'Quicksand', sans-serif;
  --typ-font-family-body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --typ-letter-spacing-brand:  -0.0825em;
}
